$c-black: #000;
$c-white: #fff;
$c-yellow: rgb(255 238 0);
$c-orange: rgb(234 91 12);
$c-orange-light: #f9bfa7;
$c-orange-light-dark: rgb(232 179 156);
$c-red: rgb(255 46 8);
$c-brown: rgb(127 9 10);
$c-green: rgb(41 189 41);
